@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#080012;
  color:white;
  overflow-x:hidden;
}

/* NAVBAR */

.navbar{
  background:#080012;
  padding:20px 0;
}

.navbar-brand{
  color:white;
  font-size:28px;
  font-weight:600;
}

.nav-link{
  color:white;
  margin:0 15px;
  font-size:13px;
  transition:0.3s;
}

.nav-link:hover{
  color:#d946ef;
}

.navbar-toggler{
  border:none;
}

.navbar-toggler:focus{
  box-shadow:none;
}

/* HERO */

.hero{
  padding:140px 0 100px;
  position:relative;
}

.hero::after{
  content:'';
  width:400px;
  height:100px;
  background:#9333ea;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  filter:blur(80px);
  bottom:-20px;
}

.hello{
  font-size:18px;
}

.hello span{
  color:#d946ef;
}

.hero h5{
  color:#f9f8fa;
  margin:15px 0;
}

.hero h1{
  font-size:55px;
  font-weight:700;
  line-height:1.3;
}

.desc{
  color:#d1d5db;
  margin-top:20px;
}

/* ROBOT */

.robot-3d{
  width:100%;
  height:500px;
  transform:scale(1.2);
  margin-top:60px;
}

.robot-3d spline-viewer{
  width:100%;
  height:100%;
  border:none;
}

.robot-3d::after{
  content:"";
  position:absolute;
  bottom:0;
  right:0;
  width:170px;
  height:70px;
  background:#080012;
  z-index:10;
}

/* SECTION TITLE */

.section-title{
  font-size:55px;
  font-weight:700;
  text-align:center;
  margin-bottom:60px;
  color:white;
  letter-spacing:3px;
}

/* ABOUT */

.about{
  padding:120px 0;
  position:relative;
}

.about::before{
  content:'';
  width:300px;
  height:300px;
  background:#9333ea;
  position:absolute;
  left:-100px;
  top:100px;
  filter:blur(150px);
}

.profile{
  width:260px;
}

.about h3{
  margin-bottom:20px;
}

.about p{
  color:#d1d5db;
  line-height:1.8;
}

.btn-custom{
  background:white;
  color:black;
  border:none;
  padding:12px 30px;
  border-radius:30px;
  margin-top:20px;
  font-weight:600;
  transition:0.3s;
}

.btn-custom:hover{
  transform:translateY(-3px);
}

/* SKILLS */

.skills-section{
  background:
  radial-gradient(circle,#4b0d7c 0%, #12001f 60%, #06000d 100%);
  color:white;
}

.title{
  font-size:55px;
  font-weight:bold;
  letter-spacing:2px;
}

.skill-card{
  background:rgba(32,0,60,0.8);
  border:1px solid rgba(183,0,255,0.3);
  border-radius:15px;
  padding:30px;
  overflow:hidden;
  transition:0.4s;
  box-shadow:0 0 20px rgba(140,0,255,0.2);
}

.skill-card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 30px rgba(183,0,255,0.6);
}

.skill-icon{
  width:75px;
  height:75px;
  object-fit:contain;
}

.skill-name{
  font-size:20px;
  font-weight:600;
}

.percent{
  font-size:14px;
  font-weight:bold;
}

.progress{
  width: 100%;
  height: 12px;
  background: rgba(255,255,255,0.15);
  border-radius: 50px;
  overflow: hidden;
}

.progress-bar{
  height: 100%;
  width: 0;
  border-radius: 50px;
  background: linear-gradient(90deg, #a855f7, #7c3aed);
  box-shadow: 0 0 15px #a855f7;
  transition: width 2s ease;
}


@keyframes load{

  from{
    width:0;
  }

  to{
    width:100%;
  }

}

/* PROJECT */

.project-section{
  background:
  radial-gradient(circle at top,
  #7c3aed 0%,
  #22052f 45%,
  #0a0014 100%);
  padding:100px 0;
}

.project-box{
  position:relative;
}

.project-card{
  position:relative;
  border-radius:35px;
  overflow:hidden;
  background:white !important;
  height:100%;
  transition:transform 0.15s ease;
  will-change:transform;
  cursor:pointer;
}

.project-img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.project-card .card-body{
  padding:25px;
  background:white;
}

.project-name{
  color:#7c3aed;
  font-size:35px;
  font-weight:800;
  margin-bottom:15px;
}

.project-text{
  color:#7d7d7d;
  font-size:15px;
  line-height:1.8;
  margin-bottom:30px;
}

.project-btn{
  display:flex;
  justify-content:center;
  align-items:center;
  width:180px;
  margin:0 auto;
  background:#7c3aed;
  color:white;
  padding:13px 0;
  border-radius:50px;
  text-decoration:none;
  font-weight:700;
  transition:0.3s;
}

.project-btn:hover{
  background:#5b21b6;
  color:white;
}

/* CONTACT */

.contact{
  padding:120px 0;
}

.contact-item{
  display:flex;
  align-items:flex-start;
  gap:18px;
  margin:25px 0;
}

.contact-item i{
  color:#c026d3;
  font-size:35px;
}

.contact-item h4{
  color:white;
  margin:0;
  font-size:22px;
}

.contact-item p{
  color:white;
  margin:0;
  font-size:16px;
}

/* SOCIAL */

.social-icon{
  display:flex;
  gap:25px;
  margin-top:30px;
}

.social-icon a{
  width:70px;
  height:70px;
  border-radius:50%;
  background:#111;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  transition:0.3s;
}

.social-icon a:hover{
  transform:scale(1.1);
}

.social-icon i{
  font-size:40px;
  color:white;
}

/* FORM */

form input,
form textarea{
  width:100%;
  background:#140021;
  border:none;
  padding:15px;
  margin-bottom:15px;
  color:white;
  border-radius:10px;
}

form textarea{
  height:130px;
  resize:none;
}

.send-btn{
  width:100%;
  background:
  linear-gradient(to right,#9333ea,#d946ef);
  border:none;
  padding:15px;
  color:white;
  font-weight:600;
  border-radius:10px;
}

/* FOOTER */

.footer{
  padding:80px 0 40px;
  position:relative;
  overflow:hidden;
}

.footer::before{
  content:'';
  width:500px;
  height:120px;
  background:#9333ea;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  top:0;
  filter:blur(100px);
  opacity:.8;
}

.footer h3{
  font-size:22px;
  font-weight:700;
  margin-bottom:25px;
  position:relative;
}

.footer h3::after{
  content:'';
  width:50px;
  height:4px;
  background:#d946ef;
  position:absolute;
  left:0;
  bottom:-10px;
  border-radius:10px;
}

.footer p{
  color:#d1d5db;
  line-height:1.8;
  font-size:14px;
}

.footer ul{
  padding:0;
}

.footer ul li{
  list-style:none;
  margin-bottom:12px;
}

.footer ul li a{
  text-decoration:none;
  color:#d1d5db;
  transition:0.3s;
}

.footer ul li a:hover{
  color:#d946ef;
}

.footer-social i{
  color:#d946ef;
  margin-right:10px;
}

.download-btn{
  display:inline-block;
  padding:10px 22px;
  border-radius:30px;
  text-decoration:none;
  color:white;
  font-size:16px;
  font-weight:600;
  background:
  linear-gradient(90deg,#8a2be2,#ff4fd8);
  transition:0.3s;
}

.download-btn:hover{
  transform:scale(1.05);
}

/* RESPONSIVE */

@media(max-width:991px){

  .navbar-collapse{
    background:#140021;
    padding:20px;
    border-radius:15px;
    margin-top:10px;
  }

  .hero{
    text-align:center;
    padding-top:120px;
  }

  .hero h1{
    font-size:38px;
  }

  .robot-3d{
    height:320px;
    transform:scale(1);
    margin-top:-20px;
  }

  .profile{
    width:220px;
    margin-bottom:30px;
  }

  .contact{
    text-align:center;
  }

  .contact-item{
    justify-content:center;
  }

  .social-icon{
    justify-content:center;
  }

}

@media(max-width:768px){

  .section-title{
    font-size:38px;
  }

  .title{
    font-size:38px;
  }

  .hero h1{
    font-size:30px;
  }

  .project-name{
    font-size:28px;
  }

  .project-img{
    height:220px;
  }

  .skill-card{
    padding:20px;
  }

  .skill-icon{
    width:60px;
    height:60px;
  }

  .footer{
    text-align:center;
  }

  .footer h3::after{
    left:50%;
    transform:translateX(-50%);
  }

}